@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* *{
    margin: 0;
    padding: 0;
} */
/* shared style */
.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272 ;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-primary-color{
    color:#FF900E
}
.btn-primary{
    background-color:#FF900E;
    border:none;
    border-radius: 8px;
    padding: 20px 24px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* header style */

/* nva bar style */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: bold;
    font-size: 3rem;
}
.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 72px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-description{
    margin:40px 0 32px;
}
.banner-img{
    width: 100%;
}
header{
    margin-bottom: 85px;
    padding-bottom: 45px;
}

/* team feature related style */

.teams{
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 60px;
}

.our-feature{
    margin-left: 60px;
    
    max-width: 537px;
}
.feature-title{
    font-size: 2.8rem;
    
}
 #quick-list{
    font-weight: 500;
 }

 .feature-description{
    line-height: 1.5rem;
    margin-bottom: 32px;
 }












/* Responsive media quary */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
     .our-feature{
        margin-left: 20px;
        text-align: center;
    }
    
    .team-image-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}