@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

/* dark 02 */
.text-gray {
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272 ;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color:#FF900E;
    border:none;
    border-radius: 8px;
    padding: 20px 24px;
    font-size: 20px;
    font-weight: 700;
    color: white;

}
/* header style */

/* nva bar style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: bold;
    font-size: 3rem;
}
.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 72px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}